.card {
  width: 60vw;
  height: 70vw;
  background-color: rgb(246, 246, 246);
  filter: drop-shadow(0 0 2vw rgba(2, 2, 2, 0.561));
}

.attributeContainer {
  margin-top: 7.5vw;
  margin-left: 3vw;
}

.tagContainer {
  margin-top: 6vw;
  margin-left: 3vw;
  display: flex;
  flex-direction: row;
}
